<html>
<!--link to style page -->
    <head><link rel="stylesheet" href="/stylesheets/style.css"></head>
    
<!--<div class = 'Image_Container'></div>-->
      
<!--container div with inner divs to set structure of page-->
 <div class = 'Container'>
   <div class = 'box'>
    <!--p tag with text which is styled inline-->
      <p class = 'jumb'; style="color: #2F4F4F; font-family: courier"> Welcome <span syle="font-size: 10px">To</span> Heckler!</p>
      
         <!--row div-->
      <div class="row">
          <!--column div-->
        <div class="col-sm">
            <!--p tag to inform user of what button below does and conditions for which to press-->

        <p class = 'para'>New here? Click the button below to register! </p>
     <!--button which contains link to register page-->
     <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register</a>
        </div>
          <div class="col-sm">
            <!--p tag to inform user of what button below does and conditions for which  to press-->

          <p class = 'para'>Existing members login below! </p>
<!--button which contains link to login page-->
      <a class="btn btn-primary btn-lg" href="/users/login" role="button" >Login</a>
           </div>
   
       </div>
     </div>

    <!--about us section-->

     <p style = "text-align: center; color: #000000;font-size:20px; font-family: courier">ABOUT US</p>
      <p style = "text-align: center; color:#000000;font-size:19px; font-family: courier">this is an anonymous chat app designed to be used<br>
        during lectures. it is for students who<br>
       have a burning question to ask but are to shy.<br>
     this is heckler!</p>
  </div>
   <div class="container2">

 </div>
    </html>