<html>
<!--link to style page -->
    <head> <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Register</title>

    </head>
<body>
<!-- code to create register form-->

    <form  role = "form" id="reg-form">
             <div class="register">
            <h1 style ="color: #2F4F4F; font-family: courier; text-align: center;"> Register For heckler</h1>
<h2 style ="color: #2F4F4F; font-family: courier; text-align: center; font-size: 10px;">Fill in details below to register</h2>
        
        <div class="form">
           <!--input fields for password and username-->

                <input type="text" class="form-control input-lg required" id="inputUsername" placeholder="username">
       
                <input type="password" class="form-control input-lg required" id="inputPassword"
                       placeholder="password">

                <button type="submit" class="btn btn-warning btn-lg">Create Account</button>
<!--p tag which contains link to login page-->
<p class="message"; style="color: #2F4F4F; font-family: courier">Already Registered? <a href="/users/login">Log in</a>
</p>

                 </div>
      </div>
    </form>


    </body>
</html>