body {

  <!--style page which defines style of pages which are linked to it -->

   background-image: url(http://www.tutunetoandnotions.com/wp-content/uploads/2013/07/stiff-net-032-nilo-mint-green.jpg/*https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHHYQljh21F1VDcdfXZX0ZCwQRjDveuDmjH-xn1Fe6kIO4PkN**/);
  background-size: 300px 700px;
} 
  /*font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;*/
     /* background-image: url(/images/Background1.jpg);
   background-color: aquamarine 
   height: 1100px;  
   background-repeat: no-repeat;
   background-size: cover;*/
}

<!--style of a tag-->

a {
 color: #00B7FF;
}

<!--style of tag with if of jumb-->

.jumb{
    font: 45px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #FFF
}
]<!--style of container class-->

.Container{
    margin:100px;
    
   
}
<!--style of tag with id of para -->

.para{
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #2F4F4F;
    font-family: courier;
}
<!--style of tag with id of box-->


.box{
   /* background-color: #e1e8f0;*/
    background-color: none;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
 
}
<!--style of tag with id box2-->

.box2{
    background-color: none;
    margin: 300px;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

<!--style of button in tag with id form-->

.form button{
 font-family: "Roboto", sans-serif;
 text-transform: uppercase;
 outline: 0;
 background: #4CAF50;
 width: 100%;
 border: 0;
 padding: 15px;
 color: #FFFFFF;
 font-size: 14px;
 cursor: pointer;
}
.form button:hover,.form button:active{
background: #43A047;
}

<!--style of tag with id form-->


.form{
  position: relative;
  z-index: 1;
  background-size: 80px;
  background:none;
  max-width: 360px;
  margin: 0 auto 80px;
  padding: 45px
  text-align: center;
}

<!--style of itag with id of register -->

.register{
 width: 360px;
 padding: 10% 0 0;
 margin: auto;
 background-size: 50px 50px
}
<!--style of tag with id container2-->

.container2{
    margin-left: 450px;
    margin-top: 10px;
    width:600px;
    height:100px;
    border-radius: 15px;
    border : 1px 
     

     
}
<!--style of tag with id subtitle-->

.subtitle{
    font-family: "Roboto", sans-serif;
font-size:14px;
    margin-left:450px;
}

<!--style of input field in tag with id of form-->

.form input{
 font-family: "Roboto", sans-serif;
 outline: 1;
 background: #f2f2f2;
 width: 100%;
 position: center;
 border: 0;
 margin: 0 0 15px;
 padding: 15px;
 box-sizing: border-box;
 font-size: 14px;
}

<!--style of tag with id login-->

.login{
 width: 360px;
 padding: 10% 0 0;
 margin: auto;
 background-size: 50px 50px
}

<!--style of tag with id message in tag with  id of form-->
.form .message{
 margin: 15px 0 0;
 color: aliceblue;
 font-size: 12px;
}
<!--style of tag with id message in tag with id of form and containing an a tag-->

.form .message a{
color: #4CAF50;

}
